// Couleurs du thème
$bleu: #0437c4;
$blanc: #fff;
$gris: #dddddd;

// Couleurs du thème Opacité reduite
$blanc-O: rgba(255, 255, 255, 0.65);
$gris-O: rgba(129, 129, 129, 0.65);
$dark-O: rgba(0, 0, 0, 0.65);

// Couleurs du thème Claire
$vert-C: #009e60;

// Taille des polices
$geant: 55px;
$grand: 30px;
$moyen: 16.5px;
$petit: 14px;
