/*--------------------------------------------------------------
# Variables
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# GlobalStyle
--------------------------------------------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;800&display=swap");
.p-about,
p.resume-item {
  font-family: "Maven Pro" !important;
}

.text-blue {
  color: #0437c4;
}

.text-justify {
  text-align: justify;
}

.bg-blue {
  background-color: #0437c4;
}

em {
  font-weight: 300 !important;
}

.fs-7 {
  font-size: 13.5px;
}

section .container {
  background: rgba(0, 0, 0, 0.76) !important;
  border-radius: 5px;
}

section {
  padding-bottom: 30px !important;
}

.interests h3 {
  display: flex;
  align-items: center;
}
.interests h3 i {
  transform: scale(0.55);
}

.interests .icon-box {
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.699);
}
.interests .icon-box:hover {
  background: rgba(0, 74, 185, 0.212);
}

.border-radius-0 {
  border-radius: 0 !important;
}

.border-radius-b-0 {
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.border-radius-t-0 {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}

.global-container {
  display: none;
  overflow: hidden;
}

body {
  overflow-x: hidden;
}

.loader {
  width: 100vw;
  height: 100vh;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #fff;
}
.loader .spinner {
  width: 50px;
  height: 50px;
  border: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-radius: 50%;
  animation: spinerAnim 0.7s linear infinite;
}

.portfolio .portfolio-wrap .portfolio-links a:hover {
  color: #0437c4;
}

.portfolio .portfolio-wrap {
  border-radius: 5px;
}

.portfolio .portfolio-wrap .portfolio-info p {
  font-family: "Maven Pro";
}

.portfolio .portfolio-wrap:hover .portfolio-info::before {
  border-top-left-radius: 5px;
}

.portfolio .portfolio-wrap:hover .portfolio-info::after {
  border-bottom-right-radius: 5px;
}

@keyframes spinerAnim {
  0% {
    border: 5px solid #0437c4;
    border-bottom: 5px solid transparent;
    transform: rotateZ(0deg);
  }
  33% {
    border: 5px solid #fff;
    border-bottom: 5px solid transparent;
  }
  100% {
    border: 5px solid #0437c4;
    border-bottom: 5px solid transparent;
    transform: rotateZ(360deg);
  }
}
/*--------------------------------------------------------------
# Scrollbar
--------------------------------------------------------------*/
::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-thumb {
  background: #5789ff;
  border: 14px none #ffffff;
  border-radius: 12px;
}

::-webkit-scrollbar-thumb:hover {
  background: #1a5eff;
}

::-webkit-scrollbar-thumb:active {
  background: #1a5eff;
}

::-webkit-scrollbar-track {
  background: #000000;
  border: 23px none #ffffff;
  border-radius: 25px;
}

::-webkit-scrollbar-track:hover {
  background: #000000;
}

::-webkit-scrollbar-track:active {
  background: #000000;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header .logo-name {
  display: flex;
  align-items: end;
}
#header .logo-name img {
  width: 70px;
  transition: width 0.5s ease;
}
#header .logo-name span {
  font-size: 45px;
  color: white;
  font-weight: 700;
  line-height: 0.8;
  text-transform: uppercase;
  overflow: hidden;
}
#header .logo-name span div {
  transform: translateX(-100%);
}
#header .logo-name span:first-of-type div {
  animation: nameAnim 0.8s linear forwards;
}
#header .logo-name span:last-of-type div {
  animation: nameAnim 1s linear forwards;
  animation-delay: 1s;
}
#header .logo-name span:first-of-type div {
  animation: nameAnim 1s linear forwards;
}
@keyframes nameAnim {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

#navbar ul {
  border: none !important;
}
#navbar ul li {
  display: flex;
  justify-content: center;
}

.logo-mobile {
  width: 35px !important;
}

@media screen and (min-width: 993px) {
  #header.header-top .container {
    justify-content: space-around;
  }
}
/*--------------------------------------------------------------
# Buttons
--------------------------------------------------------------*/
* {
  font-family: "Roboto", sans-serif;
}

button.cv-btn {
  outline: none;
  height: 40px;
  text-align: center;
  width: 180px;
  border-radius: 40px;
  background: #0437c4;
  border: 2px solid #0437c4;
  color: #fff;
  letter-spacing: 1px;
  text-shadow: 0;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.25s ease;
}
button.cv-btn:hover {
  transform: scale(0.95);
}
button.cv-btn:active {
  letter-spacing: 2px;
}
button.cv-btn:after {
  font-family: "Font Awesome 6 Pro";
  font-weight: bolder;
  content: "MON CV \f019";
}

.onclic {
  width: 40px;
  border-color: #bbbbbb;
  border-width: 3px;
  font-size: 0;
  border-left-color: #0437c4;
  animation: rotating 2s 0.25s linear infinite;
  background: none;
}
.onclic:after {
  content: "";
}
.onclic:hover {
  color: #0437c4;
}

.validate {
  font-size: 15px;
  color: white;
  background: #0437c4;
}
.validate:after {
  font-family: "Font Awesome 6 Pro";
  content: "\f058";
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*# sourceMappingURL=kev-style.css.map */
